<section class="comment-section">
  <h1>Add a comment</h1>

  <%= form_with model: @comment, url: user_post_comments_url, method: :post, class: 'comment-form' do |form| %>
    <%= form.text_area :text, class: 'comment-text', placeholder: 'Comment' %>
    <%= form.submit 'Comment', class: 'comment-button all-posts-link', data: {disable_with: "Loading..."} %>
  <% end %>
</section>