<div class="user">
  <img src=<%= user.photo %> alt="user_photo" class="user-image">
  <div class="user-info">
    <h2><%= user.name %></h2>
    <p>Number of posts: <%= user.PostsCounter || 0 %></p>
  </div>
</div>
